
.link-heading {
    display: flex;
    flex-direction: row;
    padding: 18.76px 0 18.76px 0;

    a {
        display: flex;
        align-items: center;
        margin-left: 3%;
    }

    div {
        font-family: Shrikhand;
        font-size: 28px;
        margin: 0 auto;
    }
}


.menu-image {
    width: 100%;
    height: 10%;
    object-fit: cover;
    max-height: 300px;
    object-position: 100% 60%;
    &--gourmand {
        object-position: 100% 70%;
    }
    &--bastille {
        object-position: 100% 62%;
    }
}


.restaurant-main-section {
    background-color: $menu-main-color;
    border-radius: 25px 25px 0 0;
    position: relative;
    margin-top: -25px;
    padding-bottom: 10%;

    h1 {
        padding: 10% 0 0 5%;
        justify-content: flex-start;
        font-weight: 500;
        margin: 0;
    }
}

.title__heart {
    font-size: 24px;
    font-weight: 500;
    z-index: 2;
    position: absolute;
    left: 85%;
    &:hover + .title__heart--liked{
        opacity: 1;
        transition: 1s;
    }
}
.title__heart--liked {
        font-size: 24px;
        font-weight: 600;
        z-index: 1;
        position: absolute;
        left: 85%;
        opacity: 0;
    }

.title__heart:hover {
        opacity:0;
        transition: 1s;
    } 


    .title__heart--liked:before {
        background: $gradient-color;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }





    .menu-h2 {
        $grey-text: darken($text-background, 70%);
        font-weight: 200;
        font-size: 16px;
        padding: 3% 0 2% 5%;
        margin: 26.72px 0px 26.72px 0px; 
    }
    .h2-underline {
        border-bottom: 3px solid $label-color;
        padding-bottom: 10px;
    }

