 
.course {
    display: flex;
    flex-direction: column;
}




h6 {
    margin:0;
    font-size: 16px;
    font-weight: 700;
}


.menu-item1 {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 6%;
    box-shadow: $label-shadow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__list {
        width: 100%;
        transition: 1s;
    }

    
   &__food {
       font-size: 16px;
        padding: 20px;
   }

   &__sides {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
        color: $grey-text;
        padding: 0 0 20px 20px;
        &-animation {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
   }

   &__price {
       color: black;
       padding-right: 5%;
   }

   &__animation {
       width: 0%;
       transform-origin: 100%;
       transform: scaleX(0);
       transition: 1s;
   }
    

}




.tick-box {
    background-color: $label-color;
    height: 100%;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    position: relative;
}


.tick-circle {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
}

.menu-item1:hover .menu-item1__list {
    transition-duration: 500ms;
    width: 80%;
}

.menu-item1:hover .menu-item1__animation {
    transform: scaleX(1);
    transition-duration: 500ms;
    width: 20%;
}

.menu-item1:hover  .tick-circle {
    transform: rotate(360deg);
    transition-duration: 1s;
}



@media screen and(min-width:650px){
    .course {
        width: 70%;
        margin: 0 auto;
    }
}



@media screen and (min-width: 1120px){
     .desktop-menu {
        display: flex;
    }
    .menu-item1 {
        height:90px;
   
    }
    .course {
        flex-direction: column;
        margin: 0 1.5% 0 1.5%;
        width: 35%;
    }


}





.order {
    @include gradient-button;
    width: 50%;
    margin: 0 auto;
    margin-top: 8%;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
   }

@media screen and (min-width: 1120px){
    .order {
        width:30%;
    }
}







.m1 {
    animation: m1 ease 1s;
    animation-delay: 9.9s;
}

@keyframes m1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.m2 {
    animation: m2 ease 2s;
    animation-delay: 9.9s;
}

@keyframes m2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity:0;
    }


    100% {
        opacity: 1;
    }
}

.m3 {
    animation: m3 ease 3s;
    animation-delay: 9.9s;
}

@keyframes m3 {
    0% {
        opacity: 0;
    }

    66% {
        opacity:0;
    }


    100% {
        opacity: 1;
    }
}

.m4 {
    animation: m4 ease 4s;
    animation-delay: 9.9s;
}

@keyframes m4 {
    0% {
        opacity: 0;
    }

    75% {
        opacity:0;
    }


    100% {
        opacity: 1;
    }
}

.m5 {
    animation: m5 ease 5s;
    animation-delay: 9.9s;
}

@keyframes m5 {
    0% {
        opacity: 0;
    }

    80% {
        opacity:0;
    }


    100% {
        opacity: 1;
    }
}

.m6 {
    animation: m6 ease 6s;
    animation-delay: 9.9s;
}

@keyframes m6 {
    0% {
        opacity: 0;
    }

    83.3% {
        opacity:0;
    }


    100% {
        opacity: 1;
    }
}

.m7 {
    animation: m7 ease 7s;
    animation-delay: 9.9s;
}

@keyframes m7 {
    0% {
        opacity: 0;
    }

    85.7% {
        opacity:0;
    }


    100% {
        opacity: 1;
    }
}

.m8 {
    animation: m8 ease 8s;
    animation-delay: 9.9s;
}

@keyframes m8 {
    0% {
        opacity: 0;
    }

    87.5% {
        opacity:0;
    }


    100% {
        opacity: 1;
    }
}

.m9 {
    animation: m9 ease 9s;
    animation-delay: 9.9s;
}


@keyframes m9 {
    0% {
        opacity: 0;
    }

    88.8% {
        opacity:0;
    }


    100% {
        opacity: 1;
    }
}

.m10 {
    animation: m10 ease 10s;
    animation-delay: 9.9s;
}


@keyframes m10 {
    0% {
        opacity: 0;
    }

    90% {
        opacity:0;
    }


    100% {
        opacity: 1;
    }
}
