
@import '_reset';
@import '_colors';
@import '_mixins';

/* applies until max width 768 */
/* @import '_mobile'; */
/* overrides from min width 990px */
/* @import '_tablet'; */
/* pverrodes from min at 991 */
/* @import '_desktop'; */

/* ----- */

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

a { color: inherit; }

html{
    font-family: Roboto;
}





h1 {
    font-family: Shrikhand;
    display: flex;
    justify-content: center;
    font-size: 28px;
}




.location {
    @include centre-flex;
    background-color: darken($text-background, 6%);
    padding: 15px;
    box-shadow: 0px 1px inset rgba(68, 68, 68, 0.2), 0 2px inset rgba(36, 36, 36, 0.19);
    i {
        padding-right: 10px;
    }
}

.explore-box {
    background-color: $text-background;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
        text-align: center;
        margin: 8% 0 8% 0;
    }

    p {
        color: $grey-text;
        text-align: center;
        width: 80%;
        margin-bottom: 1%;
        padding-left: 10%;
        padding-right: 10%;
    }

    button {
        @include gradient-button;
        width: 50%;
        margin: 6% auto 12% auto;
    }
}

@media screen and (min-width: 992px) {

    .explore-box {
    h2 {
        margin: 3% 0 3% 0;
    }

    button {
        width: 20%;
        margin: 2% auto 4% auto;
    }
    }
}



h3 {
    margin-left: 8%;
}

@media screen and(min-width:600px) and (max-width:992px) {
    h3 {text-align: center;
        margin-left: 0%;
    }
}

.instruction-container {
    display: flex;
    flex-direction: row;




.number-circle {
    width: 20px;
    height: 20px;
    background: $main-color;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 12px;
    position: absolute;
    right: 97.6%;
}


.instruction-label {
    position: relative;
    display:flex;
    flex-direction: row;
    background-color: darken($text-background, 3%);
    width: 70%;
    margin: 0 auto;
    padding: 7%;
    border-radius: 25px;
    margin-bottom: 6%;
    box-shadow: $label-shadow;
    &:hover {
        background-color: lighten($main-color, 35%);
        .instruction-label__icon{
            color: $main-color;
    }    
    }


&__text {
    font-weight: 500;
}


&__icon {
    color: darken($text-background, 40%);
    padding-right: 5%;
}

}
}




@media screen and(min-width:600px){
    .instruction-container {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (min-width:992px) {
    .desktop-instructions {
    display: flex;
    justify-content: space-around;
    }

    .instruction-container {
        width: 30%;
        min-width: 330px;
    }
}





.article-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15%;
}

.card {
    position: relative;
    box-shadow: $label-shadow;
    border-radius: 5%;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 5%;


    &__picture {
        width: 100%;
        height: 160px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        object-position: 0% 62%;
    }

    &__title {
        @include spaced-flex;
        padding: 4% 0 0 5%;
        &--new {
            @include spaced-flex;
            padding: 0 0 0 5%;
        }
    }

    &__city{
        padding: 1% 0 6% 5%;
    }

    &__heart {
        font-size: 20px;
        padding-right: 5%;
        font-weight: 500;
        color: blue;
    }
}

@media screen and (min-width: 750px){
    .card   {
        width: 40%;
        margin: 0 4% 5% 4%;
    }
    
}

@media screen and (min-width: 992px){
    .card   {
        width: 30%;
        margin: 0 8% 5% 8%;
    }
    
}



.newlabel {

    background-color: $label-color; 
    color: darken(#99E2D0, 40%);
    padding: 2% 9%;
    position: absolute;
    text-align: center;
    top: 5%;
    right: 5%;
    font-weight: 600;
}


.card__heart2 {
            font-size: 24px;
            font-weight: 500;
            margin-right: 20px;
            z-index: 1;
            position: relative;
            &:hover + .card__heart2--liked{
                opacity: 1;
                transition: 1s;
            }
        }
.card__heart2--liked {
                font-size: 24px;
                margin-right: 20px;
                font-weight: 600;
                color: blue;
                z-index: -1;
                position: absolute;
                right: 0%;
                opacity: 0;
            }
    
.card__heart2:hover {
                opacity:0;
                transition: 1s;
            } 
    
    



h4 {
    @include footer-text;
    font-family: Shrikhand;
    font-size: 16px;
    padding: 5% 0%;
    font-weight: 400;
}

footer {
    background-color: darken($text-background, 75%);
    padding: 5% 0 10% 0;



    li{
        @include footer-text;
        padding-bottom: 2%;
        i {
            width: 20px;
            padding-right: 2%;
        }

    }

}

@media screen and (min-width: 992px){
    h4 {
        font-size: 20px;
    }

    footer   {
        padding-bottom: 5%;

        ul {
            display: flex;
            flex-direction: row;
        }
    
    
    li {
        font-size: 16px;
        width: 40%;
    }
}

}


/*--------------------------------------------------------------------------


Restaurant page


---------------------------------------------------------------------------*/



.link-heading {
    display: flex;
    flex-direction: row;
    margin: 18.76px 0 18.76px 0;

    a {
        display: flex;
        align-items: center;
        margin-left: 3%;
    }

    div {
        font-family: Shrikhand;
        font-size: 28px;
        margin: 0 auto;
    }
}


.menu-image {
    width: 100%;
    height: 10%;
    object-fit: cover;
    max-height: 400px;
}


.restaurant-main-section {
    background-color: $menu-main-color;
    border-radius: 25px 25px 0 0;
    position: relative;
    margin-top: -25px;
    padding-bottom: 15%;

    h1 {
        padding: 10% 0 0 5%;
        justify-content: flex-start;
        font-weight: 500;
        margin: 0;
    }
}

.title__heart {
    font-size: 24px;
    font-weight: 500;
    z-index: 2;
    position: absolute;
    left: 85%;
    &:hover + .title__heart--liked{
        opacity: 1;
        transition: 1s;
    }
}
.title__heart--liked {
        font-size: 24px;
        font-weight: 600;
        color: blue;
        z-index: 1;
        position: absolute;
        left: 85%;
        opacity: 0;
    }

.title__heart:hover {
        opacity:0;
        transition: 1s;
    } 










h5 {
    $grey-text: darken($text-background, 70%);
    font-weight: 200;
    font-size: 16px;
    padding: 3% 0 2% 0%;
}

.h5-container {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    h5:nth-child(1) {
        border-bottom: 3px solid $label-color;
    }
}

.menu-item {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 6%;
    box-shadow: $label-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   &__food {
        padding: 5%;
   }

   &__sides {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
        color: $grey-text;
        padding: 0 0 5% 5%;
   }

   &__price {
       color: black;
       padding-right: 5%;
   }
    

}


.order {
    @include gradient-button;
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
   }



.tick-box {
    background-color: $label-color;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

h6 {
    margin:0;
    font-size: 16px;
    font-weight: 700;
}


.menu-item1 {
    background-color: white;
    width: 85%;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 6%;
    box-shadow: $label-shadow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__list {
        width: 100%;
    }

    
   &__food {
       font-size: 16px;
        padding: 5%;
   }

   &__sides {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
        color: $grey-text;
        padding: 0 0 5% 5%;
   }

   &__price {
       color: black;
       padding-right: 5%;
   }

   &__animation {
       width: 0%;
       transform-origin: 100%;
       transform: scaleX(0);
       transition: 1s;
   }
    

}



.tick-box {
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
}

.tick-circle {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
}







.menu-item1:hover .menu-item1__animation {
    transform: scaleX(1);
    transition-duration: 500ms;
    width: 20%;
}

.menu-item1:hover  .tick-circle {
    transform: rotate(360deg);
    transition-duration: 1s;
}


.tick-icon {
    width:100%;
    text-align: center;
    padding-top: 50%;
    padding-bottom: 50%;
    color: white;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;
    font-size: 20px;
}





------------------------------------------------------





.menu-item1__list:hover > .tick-icon {
        transition-duration: 1000ms;
}




/*


transform: scaleX(0);


.menu-item1 {
    &:active {
        .tick-icon {
            transform: scaleX(1);
        }
    }
}

*/

