
@import '_reset';
@import '_colors';

/* applies until max width 768 */
/* @import '_mobile'; */
/* overrides from min width 990px */
/* @import '_tablet'; */
/* pverrodes from min at 991 */
/* @import '_desktop'; */

/* ----- */

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

a { color: inherit; }

html{
    font-family: Roboto;
}

$label-color: #99E2D0;

$main-color: #9356DC;

$secondary-color: #FF79DA;

$text-background: rgb(248, 247, 247);

$grey-text: darken($text-background, 55%);

$gradient-color: linear-gradient(171deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 60%);

$label-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

$menu-main-color: darken($text-background, 2%);



h1 {
    font-family: Shrikhand;
    display: flex;
    justify-content: center;
    font-size: 28px;
}

@mixin centre-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin spaced-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@mixin gradient-button {
    @include centre-flex;
    box-shadow: $label-shadow;
    border: none;
    background-image: $gradient-color;
    height: 2.5rem;
    color: white;
    border-radius: 100px;
    padding-top: 0.7rem;
    cursor: pointer;
}

.location {
    @include centre-flex;
    background-color: darken($text-background, 6%);
    padding: 15px;
    box-shadow: 0px 1px inset rgba(68, 68, 68, 0.2), 0 2px inset rgba(36, 36, 36, 0.19);
    i {
        padding-right: 10px;
    }
}

.explore-box {
    background-color: $text-background;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
        text-align: center;
        margin: 8% 0 8% 0;
    }

    p {
        color: $grey-text;
        text-align: center;
        width: 80%;
        margin-bottom: 1%;
        padding-left: 10%;
        padding-right: 10%;
    }

    button {
        @include gradient-button;
        width: 50%;
        margin: 6% auto 12% auto;
       
 
    }
}

@media screen and (min-width: 992px) {

    .explore-box {
    h2 {
        margin: 3% 0 3% 0;
    }

    button {
        width: 20%;
        margin: 2% auto 4% auto;
    }
    }
}



h3 {
    margin-left: 8%;
}

.instruction-container {
    display: flex;
    flex-direction: row;




.number-circle {
    width: 20px;
    height: 20px;
    background: $main-color;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 12px;
    position: absolute;
    right: 97.6%;
}


.instruction-label {
    position: relative;
    display:flex;
    flex-direction: row;
    background-color: darken($text-background, 3%);
    width: 70%;
    margin: 0 auto;
    padding: 7%;
    border-radius: 25px;
    margin-bottom: 6%;
    box-shadow: $label-shadow;

&__text {
    font-weight: 500;
}


&__icon {
    color: darken($text-background, 40%);
    padding-right: 5%;
}

}
}

@media screen and(min-width:600px){
    .instruction-container {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (min-width:992px) {
    .desktop-instructions {
    display: flex;
    justify-content: space-around;
    }

    .instruction-container {
        width: 30%;
        min-width: 330px;
    }
}





.article-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    position: relative;
    box-shadow: $label-shadow;
    border-radius: 5%;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 5%;


    &__picture {
        width: 100%;
        height: 160px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        object-position: 0% 62%;
    }

    &__title {
        @include spaced-flex;
        padding: 4% 0 0 5%;
        &--new {
            @include spaced-flex;
            padding: 0 0 0 5%;
        }
    }

    &__city{
        padding: 1% 0 6% 5%;
    }

    &__heart {
        font-size: 20px;
        padding-right: 5%;
        font-weight: 600;
    }
}

@media screen and (min-width: 750px){
    .card   {
        width: 40%;
        margin: 0 4% 5% 4%;
    }
    
}

@media screen and (min-width: 992px){
    .card   {
        width: 30%;
        margin: 0 8% 5% 8%;
    }
    
}

.newlabel {

    background-color: $label-color; 
    color: darken(#99E2D0, 40%);
    padding: 2% 9%;
    position: absolute;
    text-align: center;
    top: 5%;
    right: 5%;
    font-weight: 600;
}

@mixin footer-text {
    color: white;
    margin: 0% 0% 0% 7%;
    font-size: 13px;
}

h4 {
    @include footer-text;
    font-family: Shrikhand;
    font-size: 16px;
    padding: 5% 0%;
    font-weight: 400;
}

footer {
    background-color: darken($text-background, 75%);
    padding: 5% 0 10% 0;



    li{
        @include footer-text;
        padding-bottom: 2%;
        i {
            width: 20px;
            padding-right: 2%;
        }

    }

}

@media screen and (min-width: 992px){
    h4 {
        font-size: 20px;
    }

    footer   {
        margin-top: 5%;
        padding-bottom: 5%;

        ul {
            display: flex;
            flex-direction: row;
        }
    
    
    li {
        font-size: 16px;
        width: 40%;
    }
}

}


/*--------------------------------------------------------------------------


Restaurant page


---------------------------------------------------------------------------*/



.link-heading {
    display: flex;
    flex-direction: row;
    margin: 18.76px 0 18.76px 0;

    a {
        display: flex;
        align-items: center;
        margin-left: 3%;
    }

    h1 {
        margin: 0 auto;
    }
}


.menu-image {
    width: 100%;
    height: 10%;
    object-fit: cover;
}


.restaurant-main-section {
    background-color: $menu-main-color;
    border-radius: 25px 25px 0 0;
    position: relative;
    margin-top: -25px;
    padding-bottom: 50px;

    h1 {
        padding: 10% 0 0 5%;
        justify-content: flex-start;
        font-weight: 500;
        margin: 0;
    }
}

h5 {
    $grey-text: darken($text-background, 70%);
    font-weight: 200;
    font-size: 16px;
    padding: 3% 0 2% 0%;
}

.h5-container {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    h5:nth-child(1) {
        border-bottom: 3px solid $label-color;
    }
}

.menu-item {
    background-color: white;
    width: 85%;
    margin: 0 auto;
    padding: 5%;
    border-radius: 15px;
    margin-bottom: 6%;
    box-shadow: $label-shadow;
   &__food {
        padding-bottom: 2%;
   }

   &__sides {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
        color: $grey-text;
   }

   &__price {
       color: black;
   }
    

}


.order {
    @include gradient-button;
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
   }






