
@import '_reset';
@import '_colors';
@import '_mixins';
@import '_index-top';
@import '_index-instructions';
@import '_index-articles';
@import '_footer';
@import '_menu-top';
@import '_menu-items';

/* applies until max width 768 */
/* @import '_mobile'; */
/* overrides from min width 990px */
/* @import '_tablet'; */
/* pverrodes from min at 991 */
/* @import '_desktop'; */

/* ----- */

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

a { color: inherit; }

html{
    font-family: Roboto;
}

